#container{
    height: 300px;
    width: 80%;
    border: 2px solid black;
    margin: 2px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#container div{
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}