<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to root path</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam iure iste quidem, debitis expedita quaerat non dolor perspiciatis pariatur. Dolore voluptates repellendus sint cumque, soluta qui sit adipisci beatae ratione.
        Explicabo mollitia molestias rem consequatur facere laudantium, possimus sunt esse nobis autem laborum, assumenda dolorum perspiciatis ratione suscipit repellendus ipsam. Neque, ab et quae tempora magni distinctio corrupti provident rerum.
        Recusandae nam voluptas quos voluptatem eligendi eum officiis ut vel, natus ad placeat, minus iste facere? Cupiditate eaque a perferendis, non odio molestias, sapiente itaque explicabo, provident nihil eos. Labore.
    </p>
    <button>Click me!</button>
</body>
</html>