div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: green;
    text-align: center;
    margin: 10px;
    display: inline-block;
}
#static{
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100p;
    /* position is static so no effect of top and left */
}
#relative{
    background-color: yellow;
    position: relative;
    top:100px;
    left: 100px;
}
#absolute{
    background-color: yellow;
    position: absolute;
    top:100px;
    left: 100px;
}
#fixed{
    background-color: yellow;
    position: fixed;
    top:100px;
    left: 100px;
}